<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vizitkovník</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>
<body>
<div th:each="Vizitka, iterStat : ${Vizitka}" class="seznam">
    <a href="/detail" th:href="@{/detail(id=${iterStat.index})}">
        <div class="Vizitka">
            <div class="jmeno" th:text="${Vizitka.jmeno}">Dita (Přikrylová) Formánková</div>
            <div class="firma" th:text="${Vizitka.firma}">Czechitas z. s.</div>
            <div class="udaje">
                <div class="adresa">
                    <div th:text="${Vizitka.ulice}">Václavské náměstí 837/11</div>
                    <div th:text="${Vizitka.obecPsc}">Praha</div>
                </div>
                <div class="kontakty">
                    <div>
                        <i th:if="${Vizitka.email} != null" class="las la-at"></i>
                        <span th:if="${Vizitka.email} != null" th:text="${Vizitka.email}"></span>
                    </div>
                    <div>
                        <i th:if="${Vizitka.telefon} != null" class="las la-phone-alt"></i>
                        <span th:if="${Vizitka.telefon} != null" th:text="${Vizitka.telefon}"></span>
                    </div>
                    <div>
                        <i th:if="${Vizitka.web} != null" class="las la-globe"></i>
                        <span th:if="${Vizitka.web} != null" th:text="${Vizitka.web}"></span>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
</body>
</html>
